@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav flex-grow-1">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">Categorie&euml;n</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Objects" asp-action="Index">Objecten</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Sources" asp-action="Index">Bronnen</a>
    </li>
}
</ul>